<a href="https://colab.research.google.com/github/toyogen-lee/Python_study/blob/main/Class0108.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a = [1, 2, 3, 4, 5, 3]
print(a.index(3))

a.remove(3)
print(a)

  #다른 인덱스에 같은 문자가 있을 때 앞 인덱스부터 처리한다.

2
[1, 2, 4, 5, 3]

In [ ]:
a = [10, 20, 30]
s1, s2, s3 = map(str, a)
print(s1 + s2 + s3)

102030

In [ ]:
#tuple := list
#리스트는 추가, 삭제, 수정 등의 후처리가 가능하지만, 튜플은 불가능

a = [11, 22]
a.remove(22)

b = (13, 24)  #값 고정
#b[0] = 10  tuple : impossible
print(b[0])

c = 234, 456  #자동으로 튜플로 인식
print(c)

d1 = (1)  #정수
d2 = (1,)
print(d1)
print(d2)

e = tuple([1, 2, 3])  #리스트를 튜플로 만들어
print(e)

13
(234, 456)
1
(1,)
(1, 2, 3)

In [ ]:
#튜플 언패킹

a = (1, 2, 3)
q, w, e = a

print(q)
print(w)
print(e)


def test():
  return 10, 20

s1, s2 = test()
print(s1)
print(s2)

1
2
3
10
20

In [ ]:
#반복문 for

for i in range(1, 11, 2):
  print(i)

for i in range(10, 0, -3):
  print(i)

a = [10, 20, 30, 40, 50]
for v in a:
  print(v)

1
3
5
7
9
10
7
4
1
10
20
30
40
50