<a href="https://colab.research.google.com/github/toyogen-lee/Python_study/blob/main/Class0107.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#자료형 변환
#내가 가진 데이터를 내가 원하는 형태로 변환
#***str int float***
#list tuple set dict

a = 20
b = 'asd'
c = 1.23
d = True

print(int('20') + a)

print(str(d))
print(str(d) + b)

print(str(c))
print(type(str(c)))

print(int(c))

40
True
Trueasd
1.23
<class 'str'>
1

In [ ]:
#list -> []
#인덱싱 : index 사용해서 원하는 데이터를 추출
#index : 시퀀스 자료형의 순서를 나타내는 값
a = [1, 2, 3]
print(a[0] + a[2])

a = a + [4, 5]
a.append(6)
print(a)

a.remove(4)
print(a)

a.pop(0)
print(a)

4
[1, 2, 3, 4, 5, 6]
[1, 2, 3, 5, 6]
[2, 3, 5, 6]
None

In [ ]:
a = ['qqq', 2.345, 3, True, [1, 2]]
print(a[0])
print(a[2])
print(a[4])
print(a[4][1])

print(a[1:4])

a[1] = 'qwer'
print(a)

qqq
3
[1, 2]
2
[2.345, 3, True]
['qqq', 'qwer', 3, True, [1, 2]]

In [ ]:
a = [1, 2, 3]
b = [4, 5, 6, -1]
print(a * 2)
print(len(b))

#멤버십 연산자33
print(2 in a)
print(2 not in a)

[1, 2, 3, 1, 2, 3]
4
True
False