<a href="https://colab.research.google.com/github/toyogen-lee/Python_study/blob/main/Q1231.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 문제 : 10대, 20대, 30대 중 나이에 맞는 변수를 출력해주세요.

age = 35 # 25로 바꿔서 실행해보세요. 15로도 바꿔서 실행해보세요.

print("10대")
print("20대")
print("30대")

20대
10대
20대
30대

if age>=30 and age<40:
  print("30대")
elif age>=20:
  print("20대")
elif age>=10:
  print("10대")

In [ ]:
# 문제 : 할인 대상인지 아닌지 출력해주세요.
# 조건 : 나이가 19세 이하이거나 60세 이상이면 할인 대상입니다.

age = 33

print("할인 대상입니다.")
print("할인 대상이 아닙니다.")

if age<=19 or age>=60:
  print("할인 대상입니다.")
else:
  print("할인 대상이 아닙니다.")

if age>19 and age<60:
  print("할인 대상이 아닙니다.")
else:
  print("할인 대상입니다.")     #best - 처리속도 가장 빠름

In [ ]:
# 문제 : 할인 대상인지 아닌지 출력해주세요.
# 조건 : 나이가 19세 이하이거나 60세 이상이면 할인 대상입니다.
# 조건 : `and, or`없이 풀어야 합니다.
# 조건 : 2가지 이상의 방법으로 풀어야 합니다.

age = 33

print("== 정답 v1 ==")
print("할인 대상입니다.")
print("할인 대상이 아닙니다.")

print("== 정답 v2 ==")
print("할인 대상입니다.")
print("할인 대상이 아닙니다.")

if age<=19:
  print("할인 대상입니다.")
elif age>=60:
  print("할인 대상입니다.")
else:
  print("할인 대상이 아닙니다.")

if age>19:
 if age<60:
  print("할인 대상이 아닙니다.")
 else:
  print("할인 대상입니다.")
else:
  print("할인 대상입니다.")       #다중조건

if age<=19:
  print("할인 대상입니다.")
else:
 if age>=60:
  print("할인 대상입니다.")
 else:
  print("할인 대상이 아닙니다.")

In [ ]:
# 문제 : 구구단 8단을 출력해주세요.
# 조건 : for, while문을 사용할 수 없습니다.

"""
출력 양식
== 8단 ==
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
"""

In [ ]:
#me
a=8
b=3
c=a*b
print("{} * ".format(a) + "{}".format(b) + " = {}".format(c))

8 * 3 = 24

In [ ]:
#teacher
dan = 8
print("== {}단 ==".format(dan))
print("{} * 1 = {}".format(dan, 8*1))
print("{} * 2 = {}".format(dan, 8*2))
print("{} * 3 = {}".format(dan, 8*3))

== 8단 ==
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24

In [ ]:
d=19
i=1
print("{} * {} = {}".format(d,i,d*i))
i+=1
print("{} * {} = {}".format(d,i,d*i))
i+=1
print("{} * {} = {}".format(d,i,d*i))
i+=1
print("{} * {} = {}".format(d,i,d*i))
i+=1
print("{} * {} = {}".format(d,i,d*i))
i+=1
print("{} * {} = {}".format(d,i,d*i))
i+=1
print("{} * {} = {}".format(d,i,d*i))
i+=1
print("{} * {} = {}".format(d,i,d*i))
i+=1
print("{} * {} = {}".format(d,i,d*i))

19 * 1 = 19
19 * 2 = 38
19 * 3 = 57
19 * 4 = 76
19 * 5 = 95
19 * 6 = 114
19 * 7 = 133
19 * 8 = 152
19 * 9 = 171