<a href="https://colab.research.google.com/github/toyogen-lee/Python_study/blob/main/%EB%94%95%EC%85%94%EB%84%88%EB%A6%AC_%EB%AC%B8%EC%A0%9C_0110.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [15]:
# 문제 : 딕셔너리에 각 달의 마지막 날들을 한번에 담기
# 조건 : 1월 ~ 3월까지
# 조건 : 2월의 마지막은 28일로 함
# 조건 : 첫 데이터의 key는 "1월", value는 31

a = {'1월' : 31, '2월' : 28, '3월' : 31}  #나-성공

b = ['1월', '2월', '3월']  #방법2
c = [31, 28, 31]
d = zip(b, c)
print(dict(d))

e = dict(firstMonth = '31', secondMonth = '28', thirdMonth = '31')  #방법3
print(e)

{'1월': 31, '2월': 28, '3월': 31}
{'firstMonth': '31', 'secondMonth': '28'}

In [16]:
# 문제 : 딕셔너리에 각 달의 마지막 날들을 반복문을 통해 담기 - 성공
a = {}
i = 1
while i <= 3:
  if i == 1:
    a[f'{i}월'] = 31
  if i == 2:
    a[f'{i}월'] = 28
  if i == 3:
    a[f'{i}월'] = 31
  i += 1
print(a)



b = {}
for i in range(1, 13):   #방법2
  month = str(i) + '월'
  endDay = 31
  if i == 2:
    endDay = 28
  elif i in [4, 6, 9, 11]:
    endDay = 30
  b[month] = endDay
print(b)

{'1월': 31, '2월': 28, '3월': 31}
{'1월': 31, '2월': 28, '3월': 31, '4월': 30, '5월': 31, '6월': 30, '7월': 31, '8월': 31, '9월': 30, '10월': 31, '11월': 30, '12월': 31}

In [ ]:
# 문제 : 딕셔너리에 각 달의 마지막 날들을 한번에 담고, 수작업으로 순회출력  -성공
a = {'1월' : 31, '2월' : 28, '3월' : 31}
print(a['1월'])
print(a['2월'])
print(a['3월'])

In [ ]:
# 문제 : 딕셔너리에 각 달의 마지막 날들을 한번에 담고, keys()로 key 순회출력
a = {'1월' : 31, '2월' : 28, '3월' : 31}
for key in a.keys():
  print(key)

In [ ]:
# 문제 : 딕셔너리에 각 달의 마지막 날들을 한번에 담고, keys()로 key, value 순회출력
a = {'1월' : 31, '2월' : 28, '3월' : 31}
for key in a.keys():
  print(key, a[key])

In [ ]:
# 문제 : 딕셔너리에 각 달의 마지막 날들을 한번에 담고, values()로 value 순회출력
a = {'1월' : 31, '2월' : 28, '3월' : 31}
for v in a.values():
  print(v)

In [ ]:
# 문제 : 딕셔너리에 각 달의 마지막 날들을 한번에 담고, items()로 key, value 순회출력
a = {'1월' : 31, '2월' : 28, '3월' : 31}
for k, v in a.items():
  print(k, v)

In [ ]:
# 문제 : 딕셔너리에 각 달의 마지막 날들을 한번에 담고, 3월 정보를 제거  -성공
a = {'1월' : 31, '2월' : 28, '3월' : 31}
del a['3월']
print(a)

In [ ]:
# 문제 : 딕셔너리에 각 달의 마지막 날들을 한번에 담고, 2월을 29일로 수정  -성공
a = {'1월' : 31, '2월' : 28, '3월' : 31}
a['2월'] = 29
print(a)

In [ ]:
# 문제 : 딕셔너리에 각 달의 마지막 날들을 한번에 담고, update를 이용하여, 2월을 29일로 수정하고 4월, 5월의 정보도 추가  -성공
a = {'1월' : 31, '2월' : 28, '3월' : 31}
a.update({'2월' : 29, '4월' : 30, '5월' : 31})
print(a)

In [ ]:
# 문제 : 영수, 영희, 철수, 민수의 나이를 딕셔너리에 담기
# 조건 : 가장 효율적인 데이터 구조를 유지해주세요.
# 조건 : 변수명을 명확하고 간결하게 지어주세요.
# 조건 : 영수 11살
# 조건 : 영희 12살
# 조건 : 철수 13살
# 조건 : 민수 14살

In [24]:
# 문제 : 영수, 영희, 철수, 민수의 나이를 딕셔너리에 담고, 데이터를 넣은 순서대로 순회출력  -실패?
a = {
    '영수' : 11,
    '영희' : 12,
    '철수' : 13,
    '민수' : 14
 }
name = ['영수', '영희', '철수', '민수']  #하지만 딕셔너리는 순서가 의미 없음
for v in name:
  print(a[v])

11
12
13
14