<a href="https://colab.research.google.com/github/toyogen-lee/Python_study/blob/main/%EB%A6%AC%EC%8A%A4%ED%8A%B8_%EB%AC%B8%EC%A0%9C_0107.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 문제 : 리스트에 순서대로 2, 1, 5, 6, 7를 한번에 담아주세요.
a = [2, 1, 5, 6, 7]
print(a)

[2, 1, 5, 6, 7]

In [ ]:
# 문제 : 비어있는 리스트를 만들고, 순서대로 2, 1, 5, 6, 7를 하나씩 담아주세요.
a = []
a.append(2)
a.append(1)
a.append(5)
a.append(6)
a.append(7)
print(a)

[2, 1, 5, 6, 7]

In [ ]:
# 문제 : 리스트에 순서대로 '월', '화', '수', '목', '금'을 한번에 담아주세요. 그리고 '토', '일' 을 순서대로 추가해주세요.
a = ['월', '화', '수']
a = a + ['토', '일']
print(a)

['월', '화', '수', '토', '일']

In [ ]:
# 문제 : 리스트에 순서대로 '월', '화', '수', '목', '금'을 한번에 담아주세요. 그리고 '토', '일' 을 담은 리스트를 만들고 2개의 리스트 합쳐서 새로운 리스트를 만들어주세요.
a = ['월', '화', '수']
b = ['토', '일']
c = a + b
print(c)

['월', '화', '수', '토', '일']

In [ ]:
# 문제 : 리스트에 순서대로 '월', '화', '수', '목', '금'을 한번에 담아주세요. 그리고 '+=' 연산자를 이용해서 '토', '일' 을 한번에 추가해주세요.
a = ['월', '화', '수']
a += ['토', '일']
print(a)

['월', '화', '수', '토', '일']