<a href="https://colab.research.google.com/github/toyogen-lee/Python_study/blob/main/%EB%A6%AC%EC%8A%A4%ED%8A%B8_%EB%AC%B8%EC%A0%9C3_0107.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 문제 : 리스트에 순서대로 2, 1, '오', 6, 7를 한번에 담아주세요. 그리고 리스트 안에 있는 '오'를 정수 5로 변경해주세요.
a = [2, 1, '오', 6, 7]

#a[2] = 5  나-방법1

a[a.index('오')] = 5  #방법2

print(a)

[2, 1, 5, 6, 7]

In [ ]:
# 문제 : 리스트에 순서대로 2, 1, '오', 6, 7를 한번에 담아주세요. 그리고 리스트 안에 있는 '오'를 제거해주세요.
a = [2, 1, '오', 6, 7]

#a.pop(2)  나-방법1

del a[a.index('오')]  #방법2

print(a)

[2, 1, 6, 7]

In [ ]:
# 문제 : 리스트에 순서대로 '월', '화', '수', '목', '금'을 한번에 담아주세요. '화'가 리스트 안에 들어있는지 알려주세요.
a = ['월', '화', '수', '목', '금']
print('화' in a)

True

In [ ]:
# 문제 : 리스트에 순서대로 '월', '화', '수', '목', '금'을 한번에 담아주세요. '화'가 리스트 안에서 몇 번째 데이터 인지 알려주세요.
a = ['월', '화', '수', '목', '금']

print(a.index('화') + 1)  #전날 수업에서 안배웠던 코드라서..

2

In [ ]:
# 문제 : 리스트에 순서대로 '월', '화', '수', '목', '금'을 한번에 담아주세요. '화'가 리스트 안에 있는지 if문으로 체크 후, 있다면 삭제해주세요.
a = ['월', '화', '수', '목', '금']
if '화' in a:
  a.remove('화')
print(a)

['월', '수', '목', '금']

In [ ]:
# 문제 : 리스트에 순서대로 '월', '화', '수', '목', '금'을 한번에 담아주세요. '토'가 리스트 안에 있는지 if문으로 체크 후, 있다면 삭제해주세요.
a = ['월', '화', '수', '목', '금']
if '토' in a:
  a.remove('토')
print(a)

['월', '화', '수', '목', '금']

In [ ]:
# 문제 : 리스트에 순서대로 '월', '화', '수', '목', '금'을 한번에 담아주세요. 리스트에 있는 '금'을 삭제하는 3가지 방법을 보여주세요.
a = ['월', '화', '수', '목', '금']
#remove pop
#del a[4]
#del a[-1]  #마지막 인덱스 삭제
#del a[a.index('금')]

print(a)

['월', '화', '수', '목']

In [ ]:
# 문제 : 리스트에 순서대로 '월', '화', '수', '목', '금'을 한번에 담아주세요. 리스트에 있는 '금'을 안전하게 삭제하는 2가지 방법을 보여주세요.
a = ['월', '화', '수', '목', '금']

if '금' in a:
  del a[a.index('금')]  # + remove
print(a)

['월', '화', '수', '목']

In [ ]:
# 문제 : 1부터, 10까지 리스트로 묶어주세요
# 조건 : 정답을 여러가지 버전으로 만들어주세요.

def sol_v1():
  print("== 담기 ==")
  # 구현

  print("== 출력 ==")
  # 구현

def sol_v2():
  print("== 담기 ==")
  # 구현

  print("== 출력 ==")
  # 구현

def sol_v3():
  print("== 담기 ==")
  # 구현

  print("== 출력 ==")
  # 구현

print("== 정답 v1 ==")
sol_v1()
print("== 정답 v2 ==")
sol_v2()
print("== 정답 v3 ==")
sol_v3()